body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.content {
  width: 100%;
  height: 100vh;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #ecd6a4;
}

@media screen and (orientation: portrait) {
  .content {
    -ms-grid-rows: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 2fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 50px;
}

@media screen and (max-width: 800px) {
  .logo {
    padding: 25px 50px;
  }
}

.logo img {
  width: 50%;
  margin: 0 25%;
  height: auto;
}

@media screen and (max-width: 420px) {
  .logo img {
    width: 100%;
    margin: 0;
  }
}

.address {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 50px;
}

@media screen and (max-width: 800px) {
  .address {
    padding: 25px 50px;
  }
}

.address .text-block {
  width: 50%;
  margin: 0 25%;
  height: auto;
}

@media screen and (max-width: 420px) {
  .address .text-block {
    width: 100%;
    margin: 0;
  }
}

.address .text-block p {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 15px 0;
}

@media screen and (max-width: 420px) {
  .address .text-block p {
    font-size: 1rem;
  }
}

.map {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media screen and (orientation: portrait) {
  .map {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.map iframe {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */